doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .cabecera
      ul
        li
          a(href='/demos/cotilla') Cotilla
        li
          a(href='/demos/json') JSON
        li
          a(href='/demos/form') Form
        li
          a(href='/users') User
        li
          a(href='/personas') Personas

    block content
